In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("Raw_Skills_Dataset.csv")
df

                                            RAW DATA
0                                           What ifs
1                                          seniority
2                                        familiarity
3                                    functionalities
4                                            Lambdas
...                                              ...
34111                                    negotiation
34112                                      deadlines
34113  Self-motivated, enthusiastic and strong drive
34114                                    negotiation
34115                                      deadlines

[34116 rows x 1 columns]

In [3]:
df.isnull().sum()

RAW DATA    0
dtype: int64

In [6]:
df1 = df.dropna()
df1

                                            RAW DATA
0                                           What ifs
1                                          seniority
2                                        familiarity
3                                    functionalities
4                                            Lambdas
...                                              ...
34111                                    negotiation
34112                                      deadlines
34113  Self-motivated, enthusiastic and strong drive
34114                                    negotiation
34115                                      deadlines

[34116 rows x 1 columns]

In [7]:
df.duplicated()

0        False
1        False
2        False
3        False
4        False
         ...
34111    False
34112     True
34113     True
34114     True
34115     True
Length: 34116, dtype: bool

In [9]:
df.drop_duplicates(inplace = True)

In [10]:
df

                                            RAW DATA
0                                           What ifs
1                                          seniority
2                                        familiarity
3                                    functionalities
4                                            Lambdas
...                                              ...
34106                           Leadership qualities
34108                                       Actalent
34109                                 all applicants
34110  Self-motivated, enthusiastic and strong drive
34111                                    negotiation

[15677 rows x 1 columns]

In [12]:
df['headers'] = df['RAW DATA'].str.extract('(Collection.*)').ffill()


df2 = df[~df['RAW DATA'].str.contains('Collection')].copy()


df2.groupby('headers').agg(','.join)['RAW DATA'].str.split(',',expand=True).T.rename_axis('',axis='columns')

                          Collections
0             n-tier Web architecture
1      JAVA/J2EE and UI web component
2                Understanding basics
3                              PL/SQL
4          EXTJS/Angular UI Framework
...                               ...
11696                        Actalent
11697                  all applicants
11698                  Self-motivated
11699   enthusiastic and strong drive
11700                     negotiation

[11701 rows x 1 columns]